<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Use title if it's in the page YAML frontmatter -->
    <!-- <title><%= current_page.data.title || "Bitbooks" %></title> -->
    <title><%= discover_title %></title>

    <!-- Styles and fonts -->
    <%= stylesheet_link_tag "all" %>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200&subset=latin,cyrillic-ext,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <%= javascript_include_tag  "modernizr" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="page-wrapper">
      
      <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <header class="page-header" role="banner">
        <h1 class="book-title"><%= data.book.title %></h1><span class="book-author">by <%= data.book.author %></span>
      </header>

        <div class="content-wrapper clearfix">

          <section class="main-content" role="main">
            <div class="main-content-source">
              <%= yield %>
            </div>
            <nav class="main-content-nav clearfix" role="navigation">
              <ul>
                <li><a href="#" class="previous">Previous</a></li>
                <li><a href="#" class="next">Next</a></li>
              </ul>
            </nav>
          </section>

          <aside class="aside-content" role="complementary">
            <div class="aside-wrapper">

              <div class="block table-of-contents">
                <h3>Table of Contents</h3>
                <nav role="navigation">
                  <ul>
                    <li>Chapter 1</li>
                      <ul>
                        <li>Section 1</li>
                        <li>Section 2</li>
                        <li>Section 3</li>
                        <li>Section 4</li>
                        <li>Section 5</li>
                      </ul>
                    <li>Chapter 2</li>
                    <li>Chapter 3</li>
                    <li>Chapter 4</li>
                    <li>Chapter 5</li>
                    <li>Chapter 6</li>
                  </ul>
                </nav>
              </div>

              <div class="block nav-tree-test">
                <h3>Navigation Test 1</h3>
                
                <p>List of information for the current page.</p>
                <ul>
                  <li>Source: <%= current_page.source_file.sub(root + "/", "") %> </li>
                  <li>Path: <%= current_page.path %></li>
                <% if current_page.parent %>
                  <li>Parent: <%= current_page.parent.path %></li>
                <% end %>
                </ul>

                <% if current_page.children %>
                <ul>
                  <% current_page.children.each do |p| %>
                    <li>Child: <%= p.path %></li>
                  <% end %>
                </ul>
                <% end %>

                <% if current_page.siblings %>
                <ul>
                  <% current_page.siblings.each do |p| %>
                    <li>Sibling: <%= p.path %></li>
                  <% end %>
                </ul>
                <% end %>

                <h3>Navigation Test 2</h3>

                <p>Doing an "each" on all resources, printing the path, and listing any children they have in a sub list.</p>
                <ul>
                <% sitemap.resources.each do |resource| %>
                  
                  <%# if resource.ext == '.html' && resource.children.count > 0 && resource.parent !=nil %>
                  <% if resource.ext == '.html' %>

                    <li><%= resource.url %></li>

                    <% if resource.children %>

                      <ul>

                        <% resource.children.each do |child| %>
                          <li><%= child.url %></li>
                        <% end %>

                      </ul>
                    <% end %>
                  <% end %>
                <% end %>
                </ul>

                <h3>Navigation Test 3</h3>
                
                <!-- This technique was originally found in the sitemap code I found -->
                <p>Lists all markdown files by searching source files for ".md"</p>
                <% pages = sitemap.resources.find_all{|p| p.source_file.match(/\.md/) } %>
                <ul>
                  <% pages.each do |p| %>
                    <!-- gsub will substitute string 1 with string 2 -->
                    <li><%= p.destination_path.gsub('/book/index.html','') %></li>
                  <% end %>
                </ul>

                <h3>Navigation Test 4</h3>
                  <p>Data driven Tree.</p>
                  <ul class="top-level">
                    <%=  data_to_html(data['tree']) %>
                  </ul>
                  <ul>
                    <%= data_to_html(data['tree']['source/book']) %>
                  </ul>
                  <ul>
                    <%= data_to_html(data['tree']['source/book'][0]) %>
                  </ul>
                  <ul>
                    <%= data_to_html(data['tree']['source/book'][1]) %>
                  </ul>

                <h3>Navigation Test 5</h3>
                  <p>2nd data driven Tree.</p>
                  <ul class="top-level">
                    <li><%=  @source_tree %></li>
                    <li><%= data['tree']['source/book'] %></li>
                    <li><%= data['tree']['source/book'][0] %></li>
                    <li><%= data['tree']['source/book'][1] %></li>
                  </ul>
                <pre><%#= sitemap.resources %></pre>

              </div>

              <div class="block open-source">
                <h3>This book is open source</h3>
                <p>The source of this book is <a href="<%= data.book.github_url %>">hosted on Github</a>. Go, ahead. Check it out.</p>
              </div>

            </div><!-- end aside-wrapper -->
          </aside>

        </div><!-- end content-wrapper -->

      <footer class="page-footer">

        <div class="footer-wrapper">

          <div class="block downloads">
            <h3>Downloads</h3>
            <p>Download this book in 
              <% data.book.formats.each do |f| %>
                <a href="#"><%= f %></a>, 
              <% end %>
              form for free.
            </p>
          </div>

          <div class="block translations">
            <h3>Book translations</h3>
            <p>This book is translated into 
              <% data.book.languages.each do |l| %>
                <a href="#"><%= l %></a>, 
              <% end %>
              and <a href="#">English</a>.
              You can help with more translations <a href="<%= data.book.github_url %>">on Github</a>.
            </p>
          </div>

          <div class="block license">
            <h3>License</h3>
            <p>This book is licensed under the <a href="<%= data.book.license_url %>"><%= data.book.license %></a> license.</p>
          </div>

          <small class="small-text">Copyright 2013</small>

        </div><!-- end footer-wrapper -->

      </footer>


    </div><!-- end page-wrapper -->

    <!-- include scripts just before the close of the body tag -->
    <%= javascript_include_tag "anchor.min" %>
    <%= javascript_include_tag "all" %>
  </body>
</html>